@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flt {
    float: left;
}

.flr {
    float: right;
}

.clr {
    clear: both;
}

button:focus {
    outline: none;
}

.loader-outer {
    background: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #00488e;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mega_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    background: #00488e;
    z-index: 999;
    height: 100%;
}

.mega_menu ul {
    padding-top: 0;
}

.mega_menu ul li {
    display: block;
}

.mega_menu ul li a {
    display: block;
    padding: 10px 20px;
    ;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: all 0.7s;
}

.mega_menu ul li:hover a {
    background: #fff;
    color: #000;
    transition: all 0.7s;
}

.mega_menu.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.mega_menu {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
    transition: transform 0.4s, visibility 0s 0.4s;
}

.close-menu {
    padding: 10px;
    text-align: right;
}

.close-menu a {
    text-decoration: none;
    opacity: 1;
}

.close-menu a .fa {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    opacity: 1;
}


.container-outer {
    /* max-width: 1368px;*/
    width: 100%;
    margin: 0 auto;
}
.mobile{
    display:none;
}
header {
    position: relative;
    z-index: 999;
    padding: 20px 0;
}

.banner {
    margin-top: -117px;
    position: relative;
    z-index: 9;
    background: url(../images/banner-bg.jpg) no-repeat top center;
    background-size: cover;
}

.mobile-menu {
    text-align: right;
    padding-top: 10px;
}

.banner .item {
    min-height: 500px;
}

.banner-caption {
    position: relative;
    padding: 200px 0 60px;
    max-width: 1140px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.banner-product {
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.banner-caption-inner {
    float: left;
    width: 60%;
    max-width: 600px;
    padding-right: 100px;
}

.banner-caption h4 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
    font-weight: bold;
}

.banner-caption h2 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    font-weight: bold;
}

.banner-caption p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-top: 20px;
}

.buy-now a {
    background: #c30e2e;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    letter-spacing: 2px;
    padding: 0 20px;
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.7s;
    border: 2px solid #c30e2e;
    text-decoration: none;
}

.buy-now a:hover {
    transition: all 0.7s;
    border: 2px solid #fff;
    background: #fff;
    color: #c30e2e;
}

.banner .owl-nav {
    display: none;
    margin-top: 0;
}

.banner .owl-dots {
    padding-bottom: 30px;
    position: relative;
    z-index: 99;
}

.banner .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

.banner .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    background: none;
}

.banner .owl-theme .owl-dots .owl-dot button {
    outline: none;
}

.product .row {
    margin: 0 -15px;
}

.product-inner {
    padding: 0;
}

.description-inner {
    padding: 100px 50px;
}

.product-image img {
    width: 100%;
    vertical-align: top;
}

.product-description h2 {
    font-size: 40px;
    line-height: 40px;
    color: #c30f2f;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.product-description h2:before {
    background: #0b206a;
    width: 50%;
    height: 1px;
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
}

.product-description p {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    padding: 20px 0;
    margin: 0;
}

.exp-more a {
    font-size: 20px;
    color: #12307a;
    padding: 8px 20px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s;
    border: 1px solid #c30f2f;
}

.exp-more a:hover {
    transition: all 0.7s;
    color: #fff;
    background: #c30f2f;
    border: 1px solid #c30f2f;
}

.product .product-inner:nth-child(odd) .product-image {
    order: 2;
}

.product .product-inner:nth-child(odd) .description-inner {
    max-width: 500px;
    width: 100%;
    float: right;
}

.product .product-inner .description-inner {
    max-width: 500px;
    width: 100%;
}

.celebrities .row {
    margin: 0 -15px;
}

.celebrities-inner .col {
    margin: 0 -15px;
}

.celebrities {
    padding: 50px 0 0;
}

.section-heading {
    text-align: center;
    font-size: 30px;
    color: #c30f2f;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.celebrities-images img {
    width: 100%;
    vertical-align: top;
}

.video-section iframe {
    vertical-align: top;
}

.pin {
    padding: 50px 0;
}

#pincode-form {
    max-width: 700px;
    width: 100%;
    margin: 20px auto 0;
}

#pincode-form h4 {
    float: left;
    width: 30%;
    font-size: 24px;
    padding-top: 5px;
    color: #4e4e4e;
    font-weight: bold;
}

#pincode-form .pin-input {
    float: left;
    width: 50%;
}

.pin-input input {
    border: 1px solid #adaead;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    padding: 0 10px;
    box-sizing: border-box;
}

#pincode-form .pin-button {
    float: left;
    width: 20%;
    padding: 0 20px;
}

.pin-button button {
    background: none;
    color: #111111;
    border: none;
    font-size: 24px;
    border-bottom: 1px solid #636468;
    font-weight: bold;
    transition: all 0.7s;
}

.pin-button button:hover {
    color: #c30f2f;
    transition: all 0.7s;
    border-bottom: 1px solid #c30f2f;
}

.map img {
    width: 100%;
    vertical-align: top;
}

.feature .row {
    margin: 0 -15px;
}

.feature .col {
    margin: 0;
}

.feature .col-md-4,
.feature .align-items-center {
    background: #d1d1d1;
    box-sizing: border-box;
}

.feature .col-md-4 {
    padding: 0 50px;
}

.feature .col-md-8 {
    background: #00488e;
    box-sizing: border-box;
    padding: 50px 30px 30px;
}

.feature-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 40px;
    color: #c30f2f;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
}

.feature-slider {
    padding-top: 70px;
    padding-bottom: 50px;
}

.feature-slider .item img {
    width: 100%;
    vertical-align: top;
}

.feature-slider .owl-theme .owl-nav {
    position: absolute;
    top: -70px;
    right: 0;
}

.feature-slider .owl-dots {
    display: none;
}

.feature-slider .owl-next span,
.feature-slider .owl-prev span {
    color: #cf3d57;
    font-size: 50px;
}

.feature-slider .owl-carousel .owl-nav button,
.feature-slider .owl-carousel .owl-nav button {
    outline: none;
}

.feature-slider .owl-carousel .owl-nav button.owl-next,
.feature-slider .owl-carousel .owl-nav button.owl-prev {
    height: 38px;
    background: #fff;
    opacity: 1;
    line-height: 32px;
    border-radius: 0;
    width: 34px;
}

.feature-slider .owl-carousel .owl-nav button.owl-next.disabled,
.feature-slider .owl-carousel .owl-nav button.owl-prev.disabled {
    opacity: 0.5;
}

.contact-us {
    padding: 50px 0;
}

.contact-form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.iagree12 .custom-select13 span {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 999;
    border: 1px solid #838485;
    left: 0;
    top: 4px;
}

.iagree12 .custom-select13 input {
    opacity: 0;
    -webkit-appearance: none;
}

.iagree12 label {
    position: relative;
    padding-left: 25px;
}

.iagree12 .custom-select13 {
    position: relative;
}

.iagree12 {
    padding: 20px 0;
}

.iagree12 .custom-select13 span {
    top: 0;
}

.iagree12 .custom-select13 span:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #838485;
    color: #838485;
    font-size: 10px;
    z-index: 999;
    left: 0;
    top: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0);
}

.iagree12 .custom-select13 input:checked+span:after {
    top: -3px;
}

.iagree12 .custom-select13 input:checked+span:after {
    transform: scale(1);
    transition: all ease-in-out 0.2s;
    content: "\f00c";
    color: #838485;
    font-family: FontAwesome;
    top: -10px;
    left: 0px;
    font-size: 14px;
    border: none;
    width: 14px;
    height: 12px;
    z-index: 999;
}

.input-field {
    margin: 30px 0 0 0;
}

.input-field input {
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #b9bbc1;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.input-field textarea {
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #b9bbc1;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

.submit {
    display: flex;
}

.submit .width50:first-child {
    text-align: left;
}

.submit .width50:last-child {
    text-align: right;
}

.width50 {
    width: 50%;
}

.width50 button {
    font-size: 20px;
    color: #12307a;
    padding: 8px 40px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s;
    border: 1px solid #c30f2f;
    background: none;
    outline: none;
}

.width50 button:hover {
    transition: all 0.7s;
    color: #fff;
    background: #c30f2f;
    border: 1px solid #c30f2f;
}

footer {
    background: #00488e;
    padding: 50px 0;
}

.copy-content {
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    padding-top: 30px;
}

.social ul {
    text-align: right;
    margin-bottom: 0;
}

.social ul li {
    display: inline-block;
    vertical-align: top;
    padding: 15px 5px 0 5px;
}

.social ul li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #00488e;
    border-radius: 50%;
    background: #fff;
    display: block;
    text-align: center;
    transition: all 0.7s;
}

.social ul li a .fa {
    font-size: 22px;
    color: #00488e;
    line-height: 45px;
}

.social ul li:hover a {
    background: #c30f2f;
}

.social ul li:hover a .fa {
    color: #fff;
}