@charset "utf-8";

@media only screen and (max-width : 1000px){
   .celebrities .owl-nav{display:none;}
   .celebrities .owl-dots{padding:20px 0;}
    .celebrities .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
        border: 1px solid #c30e2e;
        background: none;
    }
    .celebrities .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #c30e2e;
    }
}

@media only screen and (max-width : 910px){
    .description-inner{
        padding:50px 30px;
    }
}

@media only screen and (max-width : 850px){
    .product-description h2, .feature-heading{
       font-size: 30px;
    }
    .exp-more a{
        font-size: 16px;
    }
}

@media only screen and (max-width : 767px){
    .product .product-inner:nth-child(odd) .product-image {
        order: inherit;
    }
    .feature-heading{
        padding:30px;
        text-align: center;
    }
    .mobile{
        display:block;
        padding-top:20px;
        text-align: center;
        padding-top:40px;
    }
    .desktop{
        display:none;
    }
    .footer-logo{
        padding-top:24px;
    }
    footer{
        padding:30px 0; 
    }
}
@media only screen and (max-width : 575px){
    #pincode-form h4{ width:100%; text-align: center; padding-bottom:10px; font-size: 20px;}
    .section-heading, .feature-heading{
        font-size: 23px;
    }
    #pincode-form{
        margin-top:0;
    }
    #pincode-form .pin-input{
        width:77%;
    }
    .pin-button button{
        font-size: 20px;
    }
    .submit{
        display: block;
    }
    .width50{
        width:100%;
        text-align: left;
    }
    .submit .width50:last-child{
        text-align: left;
    }
    .copyright{
        text-align: center;
    }
    .social ul{
        text-align: center;
    }
    footer{
        padding-top:0;
    }
    .banner-product{
        width: 100%;
        float:none;
    }
    .banner-caption-inner{
        float:none;
        padding: 15px;
        max-width:100%;
        width:100%;
    }
    .banner-caption h4{
        font-size: 23px;
    }
    .banner-caption{
        padding: 140px 0 30px;
    }
    .banner-caption h2{
        font-size: 35px;
        line-height: 35px;
    }
    .buy-now a{
        font-size: 16px;
        line-height: 35px;
    height: 39px;
    }
    
}

@media only screen and (max-width : 480px){
    #pincode-form .pin-button{
        width:100%;
        text-align:center;
        padding-top:10px;
    }
    #pincode-form .pin-input{
        width:100%;
    }
    .product-description h2, .feature-heading {
        font-size: 23px;
        line-height: 30px;
    }
}